img {
    width: 170px;
    display: block;
    margin: auto;
    padding: 10px;
}

.card {
    background: #dddd;
    border-radius: 2px;
    box-shadow: 0 2px 4px #999, 0 2px 4px #999;
    text-align: left;
    justify-content: center;
    height: 250px;
    float: left;
    margin: 5px;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    justify-content: center;
    margin: 20px;
    width: 200px;
}