.header {
    width: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background: #bbbb;
    padding: 20px 10px;
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}